{% extends "template.html"%}
{% load staticfiles %}

{% block content %}



<div class="well well-sm">
  <h3>چه کاری در پیشه؟</h3>
  <form method="post" action="/task/add/"  >
    <div class="row">
      <div class="col-md-10 col-sm-8">
        <input type="hidden" value="" name="mothertask" >
        {% csrf_token %}
        <input type="text" name="tasktext" placeholder="کوچیک، مشخص و قابل اجرا..." class="form-control">
      </div>
      <div class="col-md-2 col-sm-4">
        <button type="submit"    class="btn btn-block btn-primary ">اضافه کردن</button>
        <input type="hidden" name="save" value="true"  />
      </div>
    </div>
  </form>
</div>

<hr >

<div class="row">

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">کارهای پیش رو</h3>
        </div>
        <div class="panel-body">
      <p>
برای باز کردن اکنت به
<a href='accounts/register'> صفحه </a>بروید.       </p>
        </div>
      </div>


<br /><br />



</div>
</div>
{% endblock %}


{% block footer %}

<script >
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}
</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}
